@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 0, 0, 0;
  --card-pink: 255, 182, 193;
  --card-green: 198, 236, 38;
  --card-orange: 255, 165, 0;
  --card-red: 239, 68, 68;
  --card-white: 255, 255, 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}
